@charset "utf-8"; /* Your custom rules */

/* @header */
.custom-cover {
background:black url(../img/cover.jpg);
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

/* @thelinkbar */
.custom-thelinkbar div a {
color:white;
font-weight:bold;
}
.custom-thelinkbar div a:focus,
.custom-thelinkbar div a:hover {
background-color:peru;
color:white;
}

/* @intro */
.custom-intro {
background:black url(../img/intro.jpg);
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}
.custom-service {
background:black url(../img/service.jpg);
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

/* custom-blocklinkstyle */

.custom-blocklinkstyle {
margin:04% 04%;
}
.custom-blocklinkstyle li a {
color:sienna;
}
.custom-blocklinkstyle li a:focus,
.custom-blocklinkstyle li a:hover {
background-color:sienna!important;
color:white!important;
}
