@charset "utf-8"; /*

  Aileron Font (Version 0.102) by Sora Sagano.
  ---------------------------------------------------------------
  - Aileron Black
  - Aileron Black Italic
  - Aileron Bold
  - Aileron Bold Italic
  - Aileron Heavy
  - Aileron Heavy Italic
  - Aileron Italic
  - Aileron Light
  - Aileron Light Italic
  - Aileron Regular
  - Aileron Semi Bold
  - Aileron Semi Bold Italic
  - Aileron Thin
  - Aileron Thin Italic
  - Aileron Ultra Light
  - Aileron Ultra Light Italic
  ---------------------------------------------------------------
  @author  : Sora Sagano
  @webUrl  : dotcolon.net
  @license : Public Domain
  @font    : http://dotcolon.net/font/aileron
  ---------------------------------------------------------------
  !! Please, see end-file for customizations. Thanks!
*/

@font-face {
  font-family:'AileronBlack';
  src: url('../fonts/aileron/Aileron-Black.eot');
  src: url('../fonts/aileron/Aileron-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Black.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Black.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Black.woff') format('woff');
}
@font-face {
  font-family:'AileronBlackItalic';
  src: url('../fonts/aileron/Aileron-BlackItalic.eot');
  src: url('../fonts/aileron/Aileron-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-BlackItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-BlackItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-BlackItalic.woff') format('woff');
}
@font-face {
  font-family:'AileronBold';
  src: url('../fonts/aileron/Aileron-Bold.eot');
  src: url('../fonts/aileron/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Bold.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Bold.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Bold.woff') format('woff');
}
@font-face {
  font-family:'AileronBoldItalic';
  src: url('../fonts/aileron/Aileron-BoldItalic.eot');
  src: url('../fonts/aileron/Aileron-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-BoldItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-BoldItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-BoldItalic.woff') format('woff');
}
@font-face {
  font-family:'AileronHeavy';
  src: url('../fonts/aileron/Aileron-Heavy.eot');
  src: url('../fonts/aileron/Aileron-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Heavy.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Heavy.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Heavy.woff') format('woff');
}
@font-face {
  font-family:'AileronHeavyItalic';
  src: url('../fonts/aileron/Aileron-HeavyItalic.eot');
  src: url('../fonts/aileron/Aileron-HeavyItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-HeavyItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-HeavyItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-HeavyItalic.woff') format('woff');
}
@font-face {
  font-family:'AileronItalic';
  src: url('../fonts/aileron/Aileron-Italic.eot');
  src: url('../fonts/aileron/Aileron-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Italic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Italic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Italic.woff') format('woff');
}
@font-face {
  font-family:'AileronLight';
  src: url('../fonts/aileron/Aileron-Light.eot');
  src: url('../fonts/aileron/Aileron-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Light.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Light.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Light.woff') format('woff');
}
@font-face {
  font-family:'AileronLightItalic';
  src: url('../fonts/aileron/Aileron-LightItalic.eot');
  src: url('../fonts/aileron/Aileron-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-LightItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-LightItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-LightItalic.woff') format('woff');
}
@font-face {
  font-family:'Aileron';
  src: url('../fonts/aileron/Aileron-Regular.eot');
  src: url('../fonts/aileron/Aileron-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Regular.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Regular.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Regular.woff') format('woff');
  font-style:none;
  font-weight:normal;
}
@font-face {
  font-family:'AileronSemiBold';
  src: url('../fonts/aileron/Aileron-SemiBold.eot');
  src: url('../fonts/aileron/Aileron-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-SemiBold.otf') format('opentype'),
       url('../fonts/aileron/Aileron-SemiBold.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-SemiBold.woff') format('woff');
}
@font-face {
  font-family:'AileronSemiBoldItalic';
  src: url('../fonts/aileron/Aileron-SemiBoldItalic.eot');
  src: url('../fonts/aileron/Aileron-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-SemiBoldItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-SemiBoldItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family:'AileronThin';
  src: url('../fonts/aileron/Aileron-Thin.eot');
  src: url('../fonts/aileron/Aileron-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-Thin.otf') format('opentype'),
       url('../fonts/aileron/Aileron-Thin.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-Thin.woff') format('woff');
}
@font-face {
  font-family:'AileronThinItalic';
  src: url('../fonts/aileron/Aileron-ThinItalic.eot');
  src: url('../fonts/aileron/Aileron-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-ThinItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-ThinItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-ThinItalic.woff') format('woff');
}
@font-face {
  font-family:'AileronUltraLight';
  src: url('../fonts/aileron/Aileron-UltraLight.eot');
  src: url('../fonts/aileron/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-UltraLight.otf') format('opentype'),
       url('../fonts/aileron/Aileron-UltraLight.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-UltraLight.woff') format('woff');
}
@font-face {
  font-family:'AileronUltraLightItalic';
  src: url('../fonts/aileron/Aileron-UltraLightItalic.eot');
  src: url('../fonts/aileron/Aileron-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aileron/Aileron-UltraLightItalic.otf') format('opentype'),
       url('../fonts/aileron/Aileron-UltraLightItalic.ttf')  format('truetype'),
       url('../fonts/aileron/Aileron-UltraLightItalic.woff') format('woff');
}

/* Customizations  */

html, body {font-family:'Aileron', sans-serif;}
b, h1, h2, h3, h4, h5, h6, strong {font-family:'AileronBold';}
em, i {font-family:'AileronItalic';}
b > i, i > b {font-family:'AileronBoldItalic';}
b > em, em > b {font-family:'AileronSemiBoldItalic';}
code,kbd,samp {font-family:'monospace', monospace;}
strong > em, em > strong, strong > i, i > strong {font-family:'AileronHeavyItalic';}
