@charset "utf-8"; /* Your custom rules */

a, a:active, a:link, a:visited {
color:lightcoral;
}
a:focus, a:hover {
color:crimson;
}

h2 > span {
box-shadow:00px 17px 07px 00px RGBA(00,00,00,0.10);
}

.thelinkbar {
background-color:lightcoral;
}
.thelinkbar div a:focus,
.thelinkbar div a:hover {
color:lightcoral;
}
