@charset "utf-8";

a, a:active, a:link, a:visited {
color:seagreen;
}
a:focus, a:hover {
color:darkblue;
}

a, a:active, a:focus, a:hover, a:link, a:visited {
outline-width:00px;
text-decoration:none;
transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
-webkit-transition: all 0.4s;
}

address {
font-size:0.8600em;
font-style:normal;
}
blockquote {
font-size:01.3000em;
font-weight:normal;
line-height:01.2500em;
margin-left:01.0000em;
margin-right:01.0000em;
}
blockquote + cite {
display:block;
margin-left:02.1111em;
text-align:left;
}
cite {
font-size:00.8000em;
font-weight:bold;
}
blockquote + cite:after,
blockquote + cite::after,
blockquote + cite:before,
blockquote + cite::before {
content:" — ";
position:relative;
bottom:-00.2500em;
}
code {
background-color:gainsboro;
border:01px solid lightgray;
border-radius:02px;
color:darkgreen;
display:inline-block;
padding:01px 04px;
white-space:nowrap;
}
code span {
color:crimson;
}
del, s {
color:firebrick;
}
dfn {
font-size:00.9500em;
}
dl {
font-size:00.9000em;
}
dt {
padding-bottom:10px;
padding-top:10px;
}
img {
border-width:00px;
opacity:1;
height:auto;
width:auto;
}
ins {
color:darkgreen;
}
kbd {
background-color:black;
border-radius:02px;
color:white;
font-size:00.8500em;
font-weight:bold;
padding:00.2250em 00.4250em 00.1250em 00.4250em;
}
li {
line-height:01.9200em;
}
mark {
padding:00.2250em 00.4250em 00.1250em 00.4250em;
}
nav:after {
clear:both;
content:"\0020\ ";
display:block;
font-size:00px;
height:00px;
line-height:00px;
width:auto;
}
pre {
background-color:whitesmoke;
border:01px solid gainsboro;
color:darkslategray;
font-size:00.860001em;
margin:20px 05px;
padding:10px 06px;
overflow:auto;
}

/* @extra-section ......................................................... */

::selection         {background-color:greenyellow;color:black;}
::-moz-selection    {background-color:greenyellow;color:black;}
::-ms-selection     {background-color:greenyellow;color:black;}
::-o-selection      {background-color:greenyellow;color:black;}
::-webkit-selection {background-color:greenyellow;color:black;}
::-moz-focus-inner  {border-width:00px;outline-width:00px;}
:focus {outline-color:transparent;outline-style:none;outline-width:00px;}

/* @align-section ......................................................... */

.align-baseline     {vertical-align:baseline;}
.align-bottom       {vertical-align:bottom;}
.align-middle       {vertical-align:middle;}
.align-sub          {vertical-align:sub;}
.align-sup          {vertical-align:super;}
.align-text-bottom  {vertical-align:text-bottom;}
.align-text-top     {vertical-align:text-top;}
.align-top          {vertical-align:top;}

/* @bar-section ........................................................... */

.bar {
background-color:#282828;
color:whitesmoke;
display:block;
font-size:00px;
height:48px;
line-height:00px;
width:100%;
}
.bar:after,.bar:before,
.bar::after,.bar::before {
content:"\0020\ ";
clear:both;
font-size:00px;
height:00px;
line-height:00px;
overflow:hidden;
visibility:hidden;
width:100%;
}
.bar * {
border-width:00px!important;
margin:00px;
padding:00px;
vertical-align:baseline;
}
.bar a,.bar address,.bar blockquote,.bar button,.bar code,.bar dd, .bar div,
.bar dl, .bar dt,.bar form,.bar form button,.bar form input,.bar h1,.bar h2,
.bar h3, .bar h4,.bar h5,.bar h6,.bar li,.bar nav, .bar ol,.bar p,.bar tt,
.bar ul {
display:inline-block;
font-size:14px;
height:48px;
line-height:48px;
outline-style:none;
outline-width:00px;
}
.bar a,.bar address,.bar blockquote,.bar button,.bar code,.bar dd,.bar dt,
.bar form button,.bar form input,.bar h1,.bar h2,.bar h3,.bar h4,.bar h5,
.bar h6,.bar li,.bar p,.bar tt {
  padding-left:04px;
  padding-right:04px;
}

.bar a {
background-color:transparent;
color:darkgray;
padding-left:10px;
padding-right:10px;
}
.bar a:focus,.bar a:hover {
background-color:#424242;
color:whitesmoke;
}
.bar form button {
background-color:dimgray;
color:white;
cursor:pointer;
padding-left:16px;
padding-right:16px;
}
.bar h1 {
text-transform:uppercase;
}
.bar h1, .bar h2 {
background-color:#383838;
color:whitesmoke;
padding-left:16px;
padding-right:16px;
}
.bar img {
height:auto;
vertical-align:middle;
width:30px;
}
.bar nav {
display:inline-block;
height:48px;
vertical-align:baseline;
}

/* @border-section ........................................................ */

.border-00{border-width:00px!important;}
.border-01{border:01px solid!important;}
.border-02{border:02px solid!important;}
.border-03{border:03px solid!important;}
.border-04{border:04px solid!important;}
.border-05{border:05px solid!important;}
.border-06{border:06px solid!important;}
.border-07{border:07px solid!important;}
.border-08{border:08px solid!important;}
.border-09{border:09px solid!important;}
.border-10{border:10px solid!important;}

.border-bottom-01{border-bottom:01px solid!important;}
.border-bottom-02{border-bottom:02px solid!important;}
.border-bottom-03{border-bottom:03px solid!important;}
.border-bottom-04{border-bottom:04px solid!important;}
.border-bottom-05{border-bottom:05px solid!important;}
.border-bottom-06{border-bottom:06px solid!important;}
.border-bottom-07{border-bottom:07px solid!important;}
.border-bottom-08{border-bottom:08px solid!important;}
.border-bottom-09{border-bottom:09px solid!important;}
.border-bottom-10{border-bottom:10px solid!important;}

.border-left-01{border-left:01px solid!important;}
.border-left-02{border-left:02px solid!important;}
.border-left-03{border-left:03px solid!important;}
.border-left-04{border-left:04px solid!important;}
.border-left-05{border-left:05px solid!important;}
.border-left-06{border-left:06px solid!important;}
.border-left-07{border-left:07px solid!important;}
.border-left-08{border-left:08px solid!important;}
.border-left-09{border-left:09px solid!important;}
.border-left-10{border-left:10px solid!important;}

.border-right-01{border-right:01px solid!important;}
.border-right-02{border-right:02px solid!important;}
.border-right-03{border-right:03px solid!important;}
.border-right-04{border-right:04px solid!important;}
.border-right-05{border-right:05px solid!important;}
.border-right-06{border-right:06px solid!important;}
.border-right-07{border-right:07px solid!important;}
.border-right-08{border-right:08px solid!important;}
.border-right-09{border-right:09px solid!important;}
.border-right-10{border-right:10px solid!important;}

.border-top-01{border-top:01px solid!important;}
.border-top-02{border-top:02px solid!important;}
.border-top-03{border-top:03px solid!important;}
.border-top-04{border-top:04px solid!important;}
.border-top-05{border-top:05px solid!important;}
.border-top-06{border-top:06px solid!important;}
.border-top-07{border-top:07px solid!important;}
.border-top-08{border-top:08px solid!important;}
.border-top-09{border-top:09px solid!important;}
.border-top-10{border-top:10px solid!important;}

/* @box-section ........................................................... */

.box {
  background-color:whitesmoke;
  color:black;
}
.box-alert {
  background-color:lightpink;
  color:darkred;
}
.box-feed {
  background-color:darkorange;
  color:floralwhite;
}
.box-info {
  background-color:lightblue;
  color:darkblue;
}
.box-message {
  border:01px solid;
  color:inherit;
}
.box-success {
  background-color:lightgreen;
  color:darkgreen;
}
.box-warning {
  background-color:lightyellow;
  color:sienna;
}
.box,
.box-alert,
.box-feed,
.box-info,
.box-message,
.box-success,
.box-warning {
  margin:01%;
  padding:02%;
  white-space:normal;
}

/* @blocks-and-grille-section ............................................. */

.block    {display:block;margin:00px auto;width:100%;}
.grille   {display:table;}
.grilles  {display:table-row;}
.grille, .grilles {width:100%;}

.block-01, .grille-01  {width:08.33333%;}
.block-02, .grille-02  {width:16.66667%;}
.block-03, .grille-03  {width:25.00000%;}
.block-04, .grille-04  {width:33.33333%;}
.block-05, .grille-05  {width:41.66667%;}
.block-06, .grille-06  {width:50.00000%;}
.block-07, .grille-07  {width:58.33333%;}
.block-08, .grille-08  {width:66.66667%;}
.block-09, .grille-09  {width:75.00000%;}
.block-10, .grille-10  {width:83.33333%;}
.block-11, .grille-11  {width:91.66667%;}
.block-12, .grille-12  {width:100%;}
.block-12   {clear:both;display:block;}

.block-01,.block-02,.block-03,.block-04,.block-05,.block-06,
.block-07,.block-08,.block-09,.block-10,.block-11 {
float:left;
}

.grille-01, .grille-02, .grille-03, .grille-04, .grille-05, .grille-06,
.grille-07, .grille-08, .grille-09, .grille-10, .grille-11, .grille-12 {
display:table-cell;
}

.break {
content:"\0020\ ";
font-size:00px;
height:00px;
line-height:00px;
overflow:hidden;
visibility:hidden;
width:100%;
}

br,
br:after,
br:before,
.break,
.break:after,
.break::after,
.block:last-child {
clear:both!important;
}

/* @container-section ..................................................... */

.container    {padding:01%;}
.container-02 {padding:02%;}
.container-03 {padding:03%;}
.container-04 {padding:04%;}

/* @form-section .......................................................... */

form.form {
background-color:transparent;
}
form.form fieldset {
border-color:lightgray;
margin:06px;
}
form.form legend {
border-color:gainsboro;
padding-left:04px;
padding-right:04px;
text-align:left;
}
form.form label,
form.form legend {
font-size:14px;
}
form.form button,
form.form input,
form.form textarea {
border:01px solid transparent;
border-radius:00px;
font-size:inherit;
line-height:27px;
margin:00px;
outline-width:00px;
padding:00px;
resize:none;
-webkit-appearance:none;
}
form.form button {
background-color:gainsboro;
color:dimgray;
cursor:pointer;
padding-left:08px;
padding-right:08px;
}
form.form input,
form.form textarea {
background-color:whitesmoke;
border-color:lightgray;
color:black;
padding-left:04px;
padding-right:04px;
width:180px;
}
form.form textarea {
min-height:80px;
overflow:auto;
}

/* @float-section ......................................................... */

.f-left,.fm-left {
  float:left!important;
}
.f-right, .fm-right {
  float:right!important;
}
.f-none {
  float:none!important;
}

/* @height-section ........................................................ */

.h-10{height:10px;}.h-15{height:15px;}.h-20{height:20px;}.h-25{height:25px;}
.h-30{height:30px;}.h-35{height:35px;}.h-40{height:40px;}.h-45{height:45px;}
.h-50{height:50px;}.h-55{height:55px;}.h-60{height:60px;}.h-65{height:65px;}
.h-70{height:70px;}.h-75{height:75px;}.h-80{height:80px;}.h-85{height:85px;}
.h-90{height:90px;}.h-95{height:95px;}.h-100{height:100px;}

.h-150{height:150px;}.h-200{height:200px;}.h-250{height:250px;}
.h-300{height:300px;}.h-350{height:350px;}.h-400{height:400px;}
.h-450{height:450px;}.h-500{height:500px;}.h-550{height:550px;}
.h-600{height:600px;}.h-650{height:650px;}.h-700{height:700px;}

/* @list-section .......................................................... */

ol.nolist, ol.nolist li,
ul.nolist, ul.nolist li,
ol.inline li, ul.inline li,
ol.listlinkbar li, ul.listlinkbar li,
ol.blocklink, ol.blocklink li,
ul.blocklink, ul.blocklink li,
ol.blocklinkstyle, ol.blocklinkstyle li,
ul.blocklinkstyle, ul.blocklinkstyle li,
ol.listlinkbar, ol.listlinkbar li,
ul.listlinkbar, ul.listlinkbar li {
list-style-type:none;
}
ol.inline li, ul.inline li,
ol.listlinkbar li, ul.listlinkbar li {
display:inline;
}
ol.blocklink li a, ul.blocklink li a {
border-bottom:01px solid;
display:block;
width:100%;
}
ol.blocklinkstyle, ul.blocklinkstyle,
ol.listlinkbar, ul.listlinkbar {
padding:00px;
}
ol.blocklinkstyle li a, ul.blocklinkstyle li a {
display:block;
line-height:48px;
padding:00px 04px;
width:100%;
}
ol.blocklinkstyle li a:focus, ol.blocklinkstyle li a:hover,
ul.blocklinkstyle li a:focus, ul.blocklinkstyle li a:hover,
ol.listlinkbar li a:focus, ol.listlinkbar li a:hover,
ul.listlinkbar li a:focus, ul.listlinkbar li a:hover {
background-color:royalblue;
color:white;
}

ol.listlinkbar, ul.listlinkbar {
display:block;
text-align:center;
width:100%;
}
ol.listlinkbar li, ul.listlinkbar li {
margin:00px -03px;
}
ol.listlinkbar li a, ul.listlinkbar li a {
display:inline-block;
line-height:48px;
padding:00px 06px;
}

/* @maxbox-section ........................................................ */

.maxbox-50 {
max-width:50%;
}
.maxbox-60 {
max-width:60%;
}
.maxbox-70 {
max-width:70%;
}
.maxbox-80 {
max-width:80%;
}
.maxbox-90 {
max-width:90%;
}

/* @position-section ...................................................... */

.position-center-10{margin-left:10%;margin-right:10%;}
.position-center-15{margin-left:15%;margin-right:15%;}
.position-center-20{margin-left:20%;margin-right:20%;}
.position-center-25{margin-left:25%;margin-right:25%;}

.position-left-10{margin-right:10%;}
.position-left-15{margin-right:15%;}.position-left-20{margin-right:20%;}
.position-left-25{margin-right:25%;}.position-left-30{margin-right:30%;}
.position-left-35{margin-right:35%;}.position-left-40{margin-right:40%;}
.position-left-45{margin-right:45%;}.position-left-50{margin-right:50%;}

.position-right-10{margin-left:10%;}
.position-right-15{margin-left:15%;}.position-right-20{margin-left:20%;}
.position-right-25{margin-left:25%;}.position-right-30{margin-left:30%;}
.position-right-35{margin-left:35%;}.position-right-40{margin-left:40%;}
.position-right-45{margin-left:45%;}.position-right-50{margin-left:50%;}

/* @puff-section .......................................................... */

.puff-01{padding:01%;}.puff-02{padding:02%;}.puff-04{padding:04%;}
.puff-06{padding:06%;}.puff-08{padding:08%;}.puff-10{padding:10%;}
.puff-12{padding:12%;}.puff-14{padding:14%;}.puff-16{padding:16%;}
.puff-18{padding:18%;}.puff-20{padding:20%;}.puff-25{padding:25%;}

.puff-out-01{padding-bottom:01%;padding-top:01%;}
.puff-out-02{padding-bottom:02%;padding-top:02%;}
.puff-out-04{padding-bottom:04%;padding-top:04%;}
.puff-out-06{padding-bottom:06%;padding-top:06%;}
.puff-out-08{padding-bottom:08%;padding-top:08%;}
.puff-out-10{padding-bottom:10%;padding-top:10%;}
.puff-out-12{padding-bottom:12%;padding-top:12%;}
.puff-out-14{padding-bottom:14%;padding-top:14%;}
.puff-out-16{padding-bottom:16%;padding-top:16%;}
.puff-out-18{padding-bottom:18%;padding-top:18%;}
.puff-out-20{padding-bottom:20%;padding-top:20%;}
.puff-out-25{padding-bottom:25%;padding-top:25%;}

.puff-side-01{padding-left:01%;padding-right:01%;}
.puff-side-02{padding-left:02%;padding-right:02%;}
.puff-side-04{padding-left:04%;padding-right:04%;}
.puff-side-06{padding-left:06%;padding-right:06%;}
.puff-side-08{padding-left:08%;padding-right:08%;}
.puff-side-10{padding-left:10%;padding-right:10%;}
.puff-side-12{padding-left:12%;padding-right:12%;}
.puff-side-14{padding-left:14%;padding-right:14%;}
.puff-side-16{padding-left:16%;padding-right:16%;}
.puff-side-18{padding-left:18%;padding-right:18%;}
.puff-side-20{padding-left:20%;padding-right:20%;}
.puff-side-25{padding-left:25%;padding-right:25%;}

/* @push-section .......................................................... */

.push-01{margin:01%;}.push-02{margin:02%;}.push-04{margin:04%;}
.push-06{margin:06%;}.push-08{margin:08%;}.push-10{margin:10%;}
.push-12{margin:12%;}.push-14{margin:14%;}.push-16{margin:16%;}
.push-18{margin:18%;}.push-20{margin:20%;}.push-25{margin:25%;}

.push-out-01{margin-bottom:01%;margin-top:01%;}
.push-out-02{margin-bottom:02%;margin-top:02%;}
.push-out-04{margin-bottom:04%;margin-top:04%;}
.push-out-06{margin-bottom:06%;margin-top:06%;}
.push-out-08{margin-bottom:08%;margin-top:08%;}
.push-out-10{margin-bottom:10%;margin-top:10%;}
.push-out-12{margin-bottom:12%;margin-top:12%;}
.push-out-14{margin-bottom:14%;margin-top:14%;}
.push-out-16{margin-bottom:16%;margin-top:16%;}
.push-out-18{margin-bottom:18%;margin-top:18%;}
.push-out-20{margin-bottom:20%;margin-top:20%;}
.push-out-25{margin-bottom:25%;margin-top:25%;}

.push-side-01{margin-left:01%;margin-right:01%;}
.push-side-02{margin-left:02%;margin-right:02%;}
.push-side-04{margin-left:04%;margin-right:04%;}
.push-side-06{margin-left:06%;margin-right:06%;}
.push-side-08{margin-left:08%;margin-right:08%;}
.push-side-10{margin-left:10%;margin-right:10%;}
.push-side-12{margin-left:12%;margin-right:12%;}
.push-side-14{margin-left:14%;margin-right:14%;}
.push-side-16{margin-left:16%;margin-right:16%;}
.push-side-18{margin-left:18%;margin-right:18%;}
.push-side-20{margin-left:20%;margin-right:20%;}
.push-side-25{margin-left:25%;margin-right:25%;}

/* pre-section ............................................................ */

pre.archlinux {
background-color:#202020;
border-color:transparent;
color:skyblue;
}
pre.css {
background-color:white;
color:darkgreen;
}
pre.html {
background-color:azure;
color:darkblue;
}
pre.ubuntulinux {
background-color:#3D003D;
border-color:transparent;
color:peachpuff;
}
pre.mintlinux {
background-color:#EAEAEA;
border-color:transparent;
color:forestgreen;
}
pre.script {
background-color:white;
border-color:lightblue;
color:orangered;
}
pre.slitazlinux {
background-color:#331A0E;
border-color:black;
color:seashell;
}
pre.terminal {
background-color:#181818;
border-color:transparent;
color:darkgray;
}

/* @radius-section ........................................................ */

.radius-01{border-radius:01px!important;}
.radius-02{border-radius:02px!important;}
.radius-03{border-radius:03px!important;}
.radius-04{border-radius:04px!important;}
.radius-05{border-radius:05px!important;}
.radius-06{border-radius:06px!important;}
.radius-07{border-radius:07px!important;}
.radius-08{border-radius:08px!important;}
.radius-09{border-radius:09px!important;}
.radius-10{border-radius:10px!important;}
.radius-full{border-radius:100%!important;}

/* @sticker-section ....................................................... */

a.sticker {
display:inline-block;
font-size:inherit;
line-height:1;
padding:08px 12px;
}

a.sticker.black   {background-color:black;}
a.sticker.blue    {background-color:skyblue;}
a.sticker.dodger  {background-color:dodgerblue;}
a.sticker.gray    {background-color:darkgray;}
a.sticker.green   {background-color:mediumseagreen;}
a.sticker.orange  {background-color:orange;}
a.sticker.pink    {background-color:pink;}
a.sticker.red     {background-color:red;}
a.sticker.sea     {background-color:lightseagreen;}
a.sticker.slate   {background-color:lightslategray;}
a.sticker.teal    {background-color:teal;}
a.sticker.yellow  {background-color:gold;}

a.sticker.black:focus,a.sticker.black:hover {
background-color:darkgray;
}
a.sticker.blue:focus,a.sticker.blue:hover {
background-color:deepskyblue;
}
a.sticker.dodger:focus,a.sticker.dodger:hover {
background-color:royalblue;
}
a.sticker.gray:focus,a.sticker.gray:hover {
background-color:dimgray;
}
a.sticker.green:focus,a.sticker.green:hover {
background-color:green;
}
a.sticker.orange:focus,a.sticker.orange:hover {
background-color:darkorange;
}
a.sticker.pink:focus,a.sticker.pink:hover {
background-color:hotpink;
}
a.sticker.red:focus,a.sticker.red:hover {
background-color:firebrick;
}
a.sticker.sea:focus,a.sticker.sea:hover {
background-color:mediumseagreen;
}
a.sticker.slate:focus,a.sticker.slate:hover {
background-color:slategray;
}
a.sticker.teal:focus,a.sticker.teal:hover {
background-color:lightseagreen;
}
a.sticker.yellow:focus,a.sticker.yellow:hover {
background-color:goldenrod;
}

a.sticker.black,
a.sticker.blue,
a.sticker.dodger,
a.sticker.gray,
a.sticker.green,
a.sticker.orange,
a.sticker.pink,
a.sticker.red,
a.sticker.sea,
a.sticker.slate,
a.sticker.teal,
a.sticker.yellow {
color:white;
}

a.sticker.stamp {
display:block;
text-align:center;
width:100%;
}

a.sticker.small {
font-size:00.860001em;
}
a.sticker.medium {
font-size:01.333331em;
}
a.sticker.large {
font-size:02.000001em;
}

/* @table-section ......................................................... */

table {
  background-color:white;
  color:black;
  border-style:none;
  margin:10px auto;
  width:100%;
}
table caption {
  font-weight:bold;
  padding-left:04px;
}
table td,
table th {
  border:01px solid gainsboro;
  padding:00.2250em;
}
.table {
  border-collapse:collapse;
  border-spacing:00px;
  font-size:00.9000em;
}
.table th {
  background-color:gainsboro;
  color:black;
}
.table td,
.table th {
  border-width:00px!important;
  padding:0.6500em 0.2250em;
}
.table tr:nth-child(odd){
  background-color:white;
  border-width:00px;
}
.table tr:nth-child(even){
  background-color:whitesmoke;
  border-width:00px;
}
.table tfoot {
  font-weight:bold;
}

/* @tag-section ........................................................... */

span.tag {
  background-color:transparent;
  border:01px solid;
  border-radius:02px;
  color:inherit;
  cursor:default;
  display:inline-block;
  font-size:14px;
  font-weight:bold;
  line-height:1;
  padding:04px 08px;
}
span.tag:before {
content:"#";
}

/* @text-section .......................................................... */

.tx-center      {text-align:center!important;}
.tx-justify     {text-align:justify!important;}
.tx-left        {text-align:left!important;}
.txm-left       {text-align:left!important;}
.tx-right       {text-align:right!important;}
.txm-right      {text-align:right!important;}

.tx-small       {font-size:small!important;}
.tx-x-small     {font-size:x-small!important;}
.tx-xx-small    {font-size:xx-small!important;}
.tx-large       {font-size:large!important;}
.tx-x-large     {font-size:x-large!important;}
.tx-xx-large    {font-size:xx-large!important;}
.tx-larger      {font-size:larger!important;}
.tx-smaller     {font-size:smaller!important;}
.tx-initial     {font-size:initial!important;}
.tx-inherit     {font-size:inherit!important;}

.tx-capitalize  {text-transform:capitalize!important;}
.tx-lowercase   {text-transform:lowercase!important;}
.tx-none        {text-transform:none!important;}
.tx-small-caps  {font-variant:small-caps!important;}
.tx-uppercase   {text-transform:uppercase!important;}

.tx-bold        {font-weight:bold!important;}
.tx-lighter     {font-weight:lighter!important;}
.tx-normal      {font-weight:normal!important;}

.tx-01em        {font-size:01.0000em!important;}
.tx-02em        {font-size:02.0000em!important;}
.tx-03em        {font-size:03.0000em!important;}
.tx-04em        {font-size:04.0000em!important;}
.tx-05em        {font-size:05.0000em!important;}
.tx-06em        {font-size:06.0000em!important;}
.tx-07em        {font-size:07.0000em!important;}
.tx-08em        {font-size:08.0000em!important;}
.tx-09em        {font-size:09.0000em!important;}
.tx-10em        {font-size:10.0000em!important;}

.tx-10px        {font-size:10px!important;}
.tx-12px        {font-size:12px!important;}
.tx-14px        {font-size:14px!important;}
.tx-16px        {font-size:16px!important;}
.tx-18px        {font-size:18px!important;}
.tx-20px        {font-size:20px!important;}

.tx-mono        {font-family:monospace!important;}
.tx-sans        {font-family:sans!important;}
.tx-serif       {font-family:serif!important;}

.tx-space-01    {letter-spacing:01px!important;}
.tx-space-02    {letter-spacing:02px!important;}
.tx-space-03    {letter-spacing:03px!important;}
.tx-space-04    {letter-spacing:04px!important;}
.tx-space-05    {letter-spacing:05px!important;}
.tx-space-06    {letter-spacing:06px!important;}
.tx-space-07    {letter-spacing:07px!important;}
.tx-space-08    {letter-spacing:08px!important;}
.tx-space-09    {letter-spacing:09px!important;}
.tx-space-10    {letter-spacing:10px!important;}

.tx-void-01     {word-spacing:01px!important;}
.tx-void-02     {word-spacing:02px!important;}
.tx-void-03     {word-spacing:03px!important;}
.tx-void-04     {word-spacing:04px!important;}
.tx-void-05     {word-spacing:05px!important;}
.tx-void-06     {word-spacing:06px!important;}

.tx-void-n01    {word-spacing:-01px!important;}
.tx-void-n02    {word-spacing:-02px!important;}
.tx-void-n03    {word-spacing:-03px!important;}
.tx-void-n04    {word-spacing:-04px!important;}
.tx-void-n05    {word-spacing:-05px!important;}
.tx-void-n06    {word-spacing:-06px!important;}

/* @thelinkbar-section .................................................... */

.thelinkbar {
background-color:black;
display:table;
font-size:14px;
line-height:48px;
}
.thelinkbar div {
display:table-row;
}
.thelinkbar,
.thelinkbar div {
width:100%;
}
.thelinkbar div a {
color:lightgray;
display:table-cell;
text-align:center;
width:auto;
}
.thelinkbar div a:focus,
.thelinkbar div a:hover {
background-color:lightgray;
color:black;
}

/* @width-section ......................................................... */

.w-auto{width:auto!important;}
.w-10,.wm-10{width:10%!important;}.w-15,.wm-15{width:15%!important;}
.w-20,.wm-20{width:20%!important;}.w-25,.wm-25{width:25%!important;}
.w-30,.wm-30{width:30%!important;}.w-35,.wm-35{width:35%!important;}
.w-40,.wm-40{width:40%!important;}.w-45,.wm-45{width:45%!important;}
.w-50,.wm-50{width:50%!important;}.w-55,.wm-55{width:55%!important;}
.w-60,.wm-60{width:60%!important;}.w-65,.wm-65{width:65%!important;}
.w-70,.wm-70{width:70%!important;}.w-75,.wm-75{width:75%!important;}
.w-80,.wm-80{width:80%!important;}.w-85,.wm-85{width:85%!important;}
.w-90,.wm-90{width:90%!important;}.w-95,.wm-95{width:95%!important;}
.w-100{width:100%!important;}

/* @bg-colors-section ..................................................... */

.bg-aliceblue{background-color:#f0f8ff!important}
.bg-antiquewhite{background-color:#faebd7!important}
.bg-aqua{background-color:aqua!important}
.bg-aquamarine{background-color:#7fffd4!important}
.bg-azure{background-color:#f0ffff!important}
.bg-beige{background-color:#f5f5dc!important}
.bg-bisque{background-color:#ffe4c4!important}
.bg-black{background-color:#000!important}
.bg-blanchedalmond{background-color:#ffebcd!important}
.bg-blue{background-color:blue!important}
.bg-blueviolet{background-color:#8a2be2!important}
.bg-brown{background-color:#a52a2a!important}
.bg-burlywood{background-color:#deb887!important}
.bg-cadetblue{background-color:#5f9ea0!important}
.bg-chartreuse{background-color:#7fff00!important}
.bg-chocolate{background-color:#d2691e!important}
.bg-coral{background-color:#ff7f50!important}
.bg-cornflowerblue{background-color:#6495ed!important}
.bg-cornsilk{background-color:#fff8dc!important}
.bg-crimson{background-color:#dc143c!important}
.bg-cyan{background-color:#0ff!important}
.bg-darkblue{background-color:#00008b!important}
.bg-darkcyan{background-color:#008b8b!important}
.bg-darkgoldenrod{background-color:#b8860b!important}
.bg-darkgray{background-color:#a9a9a9!important}
.bg-darkgreen{background-color:#006400!important}
.bg-darkkhaki{background-color:#bdb76b!important}
.bg-darkmagenta{background-color:#8b008b!important}
.bg-darkolivegreen{background-color:#556b2f!important}
.bg-darkorange{background-color:#ff8c00!important}
.bg-darkorchid{background-color:#9932cc!important}
.bg-darkred{background-color:#8b0000!important}
.bg-darksalmon{background-color:#e9967a!important}
.bg-darkseagreen{background-color:#8fbc8f!important}
.bg-darkslateblue{background-color:#483d8b!important}
.bg-darkslategray{background-color:#2f4f4f!important}
.bg-darkturquoise{background-color:#00ced1!important}
.bg-darkviolet{background-color:#9400d3!important}
.bg-deeppink{background-color:#ff1493!important}
.bg-deepskyblue{background-color:#00bfff!important}
.bg-dimgray{background-color:#696969!important}
.bg-dodgerblue{background-color:#1e90ff!important}
.bg-firebrick{background-color:#b22222!important}
.bg-floralwhite{background-color:#fffaf0!important}
.bg-forestgreen{background-color:#228b22!important}
.bg-fuchsia{background-color:#f0f!important}
.bg-gainsboro{background-color:#dcdcdc!important}
.bg-ghostwhite{background-color:#f8f8ff!important}
.bg-gold{background-color:#ffd700!important}
.bg-goldenrod{background-color:#daa520!important}
.bg-gray{background-color:gray!important}
.bg-green{background-color:green!important}
.bg-greenyellow{background-color:#adff2f!important}
.bg-honeydew{background-color:#f0fff0!important}
.bg-hotpink{background-color:#ff69b4!important}
.bg-indianred{background-color:#cd5c5c!important}
.bg-indigo{background-color:#4b0082!important}
.bg-ivory{background-color:#fffff0!important}
.bg-khaki{background-color:#f0e68c!important}
.bg-lavender{background-color:#e6e6fa!important}
.bg-lavenderblush{background-color:#fff0f5!important}
.bg-lawngreen{background-color:#7cfc00!important}
.bg-lemonchiffon{background-color:#fffacd!important}
.bg-lightblue{background-color:#add8e6!important}
.bg-lightcoral{background-color:#f08080!important}
.bg-lightcyan{background-color:#e0ffff!important}
.bg-lightgoldenrodyellow{background-color:#fafad2!important}
.bg-lightgray{background-color:lightgray!important}
.bg-lightgreen{background-color:#90ee90!important}
.bg-lightpink{background-color:#ffb6c1!important}
.bg-lightsalmon{background-color:#ffa07a!important}
.bg-lightseagreen{background-color:#20b2aa!important}
.bg-lightskyblue{background-color:#87cefa!important}
.bg-lightslategray{background-color:#789!important}
.bg-lightsteelblue{background-color:#b0c4de!important}
.bg-lightyellow{background-color:#ffffe0!important}
.bg-lime{background-color:lime!important}
.bg-limegreen{background-color:#32cd32!important}
.bg-linen{background-color:#faf0e6!important}
.bg-magenta{background-color:#f0f!important}
.bg-maroon{background-color:maroon!important}
.bg-mediumaquamarine{background-color:#66cdaa!important}
.bg-mediumblue{background-color:#0000cd!important}
.bg-mediumorchid{background-color:#ba55d3!important}
.bg-mediumpurple{background-color:#9370d8!important}
.bg-mediumseagreen{background-color:#3cb371!important}
.bg-mediumslateblue{background-color:#7b68ee!important}
.bg-mediumspringgreen{background-color:#00fa9a!important}
.bg-mediumturquoise{background-color:#48d1cc!important}
.bg-mediumvioletred{background-color:#c71585!important}
.bg-midnightblue{background-color:#191970!important}
.bg-mintcream{background-color:#f5fffa!important}
.bg-mistyrose{background-color:#ffe4e1!important}
.bg-moccasin{background-color:#ffe4b5!important}
.bg-navajowhite{background-color:#ffdead!important}
.bg-navy{background-color:navy!important}
.bg-oldlace{background-color:#fdf5e6!important}
.bg-olive{background-color:olive!important}
.bg-olivedrab{background-color:#6b8e23!important}
.bg-orange{background-color:orange!important}
.bg-orangered{background-color:#ff4500!important}
.bg-orchid{background-color:#da70d6!important}
.bg-palegoldenrod{background-color:#eee8aa!important}
.bg-palegreen{background-color:#98fb98!important}
.bg-paleturquoise{background-color:#afeeee!important}
.bg-palevioletred{background-color:#d87093!important}
.bg-papayawhip{background-color:#ffefd5!important}
.bg-peachpuff{background-color:#ffdab9!important}
.bg-peru{background-color:#cd853f!important}
.bg-pink{background-color:#ffc0cb!important}
.bg-plum{background-color:#dda0dd!important}
.bg-powderblue{background-color:#b0e0e6!important}
.bg-purple{background-color:purple!important}
.bg-red{background-color:red!important}
.bg-rosybrown{background-color:#bc8f8f!important}
.bg-royalblue{background-color:#4169e1!important}
.bg-saddlebrown{background-color:#8b4513!important}
.bg-salmon{background-color:#fa8072!important}
.bg-sandybrown{background-color:#f4a460!important}
.bg-seagreen{background-color:#2e8b57!important}
.bg-seashell{background-color:#fff5ee!important}
.bg-sienna{background-color:#a0522d!important}
.bg-silver{background-color:silver!important}
.bg-skyblue{background-color:#87ceeb!important}
.bg-slateblue{background-color:#6a5acd!important}
.bg-slategray{background-color:#708090!important}
.bg-snow{background-color:#fffafa!important}
.bg-springgreen{background-color:#00ff7f!important}
.bg-steelblue{background-color:#4682b4!important}
.bg-tan{background-color:#d2b48c!important}
.bg-teal{background-color:teal!important}
.bg-thistle{background-color:#d8bfd8!important}
.bg-tomato{background-color:#ff6347!important}
.bg-turquoise{background-color:#40e0d0!important}
.bg-transparent{background-color:transparent!important}
.bg-violet{background-color:#ee82ee!important}
.bg-wheat{background-color:#f5deb3!important}
.bg-white{background-color:#fff!important}
.bg-whitesmoke{background-color:#f5f5f5!important}
.bg-yellow{background-color:#ff0!important}
.bg-yellowgreen{background-color:#9acd32!important}
.bg-onix{background-color:#303030!important}
.bg-darkonix{background-color:#202020!important}
.bg-deeponix{background-color:#404040!important}
.bg-lightonix{background-color:#606060!important}

/* @text-colors-section ................................................... */

.tx-aliceblue{color:#f0f8ff!important}
.tx-antiquewhite{color:#faebd7!important}
.tx-aqua{color:aqua!important}
.tx-aquamarine{color:#7fffd4!important}
.tx-azure{color:#f0ffff!important}
.tx-beige{color:#f5f5dc!important}
.tx-bisque{color:#ffe4c4!important}
.tx-black{color:#000!important}
.tx-blanchedalmond{color:#ffebcd!important}
.tx-blue{color:blue!important}
.tx-blueviolet{color:#8a2be2!important}
.tx-brown{color:#a52a2a!important}
.tx-burlywood{color:#deb887!important}
.tx-cadetblue{color:#5f9ea0!important}
.tx-chartreuse{color:#7fff00!important}
.tx-chocolate{color:#d2691e!important}
.tx-coral{color:#ff7f50!important}
.tx-cornflowerblue{color:#6495ed!important}
.tx-cornsilk{color:#fff8dc!important}
.tx-crimson{color:#dc143c!important}
.tx-cyan{color:#0ff!important}
.tx-darkblue{color:#00008b!important}
.tx-darkcyan{color:#008b8b!important}
.tx-darkgoldenrod{color:#b8860b!important}
.tx-darkgray{color:#a9a9a9!important}
.tx-darkgreen{color:#006400!important}
.tx-darkkhaki{color:#bdb76b!important}
.tx-darkmagenta{color:#8b008b!important}
.tx-darkolivegreen{color:#556b2f!important}
.tx-darkorange{color:#ff8c00!important}
.tx-darkorchid{color:#9932cc!important}
.tx-darkred{color:#8b0000!important}
.tx-darksalmon{color:#e9967a!important}
.tx-darkseagreen{color:#8fbc8f!important}
.tx-darkslateblue{color:#483d8b!important}
.tx-darkslategray{color:#2f4f4f!important}
.tx-darkturquoise{color:#00ced1!important}
.tx-darkviolet{color:#9400d3!important}
.tx-deeppink{color:#ff1493!important}
.tx-deepskyblue{color:#00bfff!important}
.tx-dimgray{color:#696969!important}
.tx-dodgerblue{color:#1e90ff!important}
.tx-firebrick{color:#b22222!important}
.tx-floralwhite{color:#fffaf0!important}
.tx-forestgreen{color:#228b22!important}
.tx-fuchsia{color:#f0f!important}
.tx-gainsboro{color:#dcdcdc!important}
.tx-ghostwhite{color:#f8f8ff!important}
.tx-gold{color:#ffd700!important}
.tx-goldenrod{color:#daa520!important}
.tx-gray{color:gray!important}
.tx-green{color:green!important}
.tx-greenyellow{color:#adff2f!important}
.tx-honeydew{color:#f0fff0!important}
.tx-hotpink{color:#ff69b4!important}
.tx-indianred{color:#cd5c5c!important}
.tx-indigo{color:#4b0082!important}
.tx-ivory{color:#fffff0!important}
.tx-khaki{color:#f0e68c!important}
.tx-lavender{color:#e6e6fa!important}
.tx-lavenderblush{color:#fff0f5!important}
.tx-lawngreen{color:#7cfc00!important}
.tx-lemonchiffon{color:#fffacd!important}
.tx-lightblue{color:#add8e6!important}
.tx-lightcoral{color:#f08080!important}
.tx-lightcyan{color:#e0ffff!important}
.tx-lightgoldenrodyellow{color:#fafad2!important}
.tx-lightgray{color:lightgray!important}
.tx-lightgreen{color:#90ee90!important}
.tx-lightpink{color:#ffb6c1!important}
.tx-lightsalmon{color:#ffa07a!important}
.tx-lightseagreen{color:#20b2aa!important}
.tx-lightskyblue{color:#87cefa!important}
.tx-lightslategray{color:#789!important}
.tx-lightsteelblue{color:#b0c4de!important}
.tx-lightyellow{color:#ffffe0!important}
.tx-lime{color:lime!important}
.tx-limegreen{color:#32cd32!important}
.tx-linen{color:#faf0e6!important}
.tx-magenta{color:#f0f!important}
.tx-maroon{color:maroon!important}
.tx-mediumaquamarine{color:#66cdaa!important}
.tx-mediumblue{color:#0000cd!important}
.tx-mediumorchid{color:#ba55d3!important}
.tx-mediumpurple{color:#9370d8!important}
.tx-mediumseagreen{color:#3cb371!important}
.tx-mediumslateblue{color:#7b68ee!important}
.tx-mediumspringgreen{color:#00fa9a!important}
.tx-mediumturquoise{color:#48d1cc!important}
.tx-mediumvioletred{color:#c71585!important}
.tx-midnightblue{color:#191970!important}
.tx-mintcream{color:#f5fffa!important}
.tx-mistyrose{color:#ffe4e1!important}
.tx-moccasin{color:#ffe4b5!important}
.tx-navajowhite{color:#ffdead!important}
.tx-navy{color:navy!important}
.tx-oldlace{color:#fdf5e6!important}
.tx-olive{color:olive!important}
.tx-olivedrab{color:#6b8e23!important}
.tx-orange{color:orange!important}
.tx-orangered{color:#ff4500!important}
.tx-orchid{color:#da70d6!important}
.tx-palegoldenrod{color:#eee8aa!important}
.tx-palegreen{color:#98fb98!important}
.tx-paleturquoise{color:#afeeee!important}
.tx-palevioletred{color:#d87093!important}
.tx-papayawhip{color:#ffefd5!important}
.tx-peachpuff{color:#ffdab9!important}
.tx-peru{color:#cd853f!important}
.tx-pink{color:#ffc0cb!important}
.tx-plum{color:#dda0dd!important}
.tx-powderblue{color:#b0e0e6!important}
.tx-purple{color:purple!important}
.tx-red{color:red!important}
.tx-rosybrown{color:#bc8f8f!important}
.tx-royalblue{color:#4169e1!important}
.tx-saddlebrown{color:#8b4513!important}
.tx-salmon{color:#fa8072!important}
.tx-sandybrown{color:#f4a460!important}
.tx-seagreen{color:#2e8b57!important}
.tx-seashell{color:#fff5ee!important}
.tx-sienna{color:#a0522d!important}
.tx-silver{color:silver!important}
.tx-skyblue{color:#87ceeb!important}
.tx-slateblue{color:#6a5acd!important}
.tx-slategray{color:#708090!important}
.tx-snow{color:#fffafa!important}
.tx-springgreen{color:#00ff7f!important}
.tx-steelblue{color:#4682b4!important}
.tx-tan{color:#d2b48c!important}
.tx-teal{color:teal!important}
.tx-thistle{color:#d8bfd8!important}
.tx-tomato{color:#ff6347!important}
.tx-turquoise{color:#40e0d0!important}
.tx-violet{color:#ee82ee!important}
.tx-wheat{color:#f5deb3!important}
.tx-white{color:#fff!important}
.tx-whitesmoke{color:#f5f5f5!important}
.tx-yellow{color:#ff0!important}
.tx-yellowgreen{color:#9acd32!important}
.tx-onix{color:#303030!important}
.tx-darkonix{color:#202020!important}
.tx-deeponix{color:#404040!important}
.tx-lightonix{color:#606060!important}

/* @media-types ........................................................... */

@media (max-width:60em){

  .bar, .bar a, .bar address, .bar blockquote, .bar button, .bar code,
  .bar dd, .bar div, .bar dl, .bar dt, .bar form, .bar form button,
  .bar form input, .bar h1, .bar h2, .bar h3, .bar h4, .bar h5, .bar h6,
  .bar li, .bar nav, .bar ol, .bar p, .bar tt, .bar ul, .block-01, .block-02,
  .block-03, .block-04, .block-05, .block-06, .block-07, .block-08, .block-09,
  .block-10, .block-11, .grille, .grilles, .grille-01, .grille-02, .grille-03,
  .grille-04, .grille-05, .grille-06, .grille-07, .grille-08, .grille-09,
  .grille-10, .grille-11, .grille-12, ol.listlinkbar li, ul.listlinkbar li,
  ol.listlinkbar li a, ul.listlinkbar li a, .thelinkbar, .thelinkbar div,
  .thelinkbar div a, a.sticker.baggy {
    display:block;
    width:auto;
    width:100%;
  }

  .bar, .bar a, .bar address, .bar blockquote, .bar button, .bar code,
  .bar dd, .bar div, .bar dl, .bar dt, .bar form, .bar form button,
  .bar form input, .bar h1, .bar h2, .bar h3, .bar h4, .bar h5, .bar h6,
  .bar li, .bar nav, .bar ol, .bar p, .bar tt, .bar ul, .block-01, .block-02,
  .block-03, .block-04, .block-05, .block-06, .block-07, .block-08, .block-09,
  .block-10, .block-11 {
    float:none;
    height:auto;
    margin:00px auto;
    padding:00px;
  }

  .bar a, .bar address, .bar blockquote, .bar button, .bar code, .bar dd,
  .bar div, .bar dl, .bar dt, .bar form, .bar form button, .bar form input,
  .bar h1, .bar h2, .bar h3, .bar h4, .bar h5, .bar h6, .bar li, .bar nav,
  .bar ol, .bar p, .bar tt, .bar ul {
    font-size:14px;
    line-height:48px;
  }

  .bar a, .bar address, .bar blockquote, .bar button, .bar code, .bar dd,
  .bar dl, .bar dt, .bar form button, .bar form input, .bar h1, .bar h2,
  .bar h3, .bar h4, .bar h5, .bar h6, .bar li, .bar p, .bar tt {
    padding-left:10px;
    padding-right:10px;
  }

  .fm-left, .fm-right{
    float:none!important;
  }

  .h-10, .h-15, .h-20, .h-25, .h-30, .h-35, .h-40, .h-45, .h-50, .h-55, .h-60,
  .h-65, .h-70, .h-75, .h-80, .h-85, .h-90, .h-95, .h-100, .h-150, .h-200,
  .h-250, .h-300, .h-350, .h-400, .h-450, .h-500, .h-550, .h-600, .h-650,
  .h-700 {
    height:auto!important;
  }

  a.sticker.baggy {
    text-align:center;
  }

  ol.listlinkbar li, ul.listlinkbar li, ol.listlinkbar li a,
  ul.listlinkbar li a, .thelinkbar, .thelinkbar div, .thelinkbar div a {
    margin:00px;
    text-align:left;
  }

  .thelinkbar div a {
    padding:00px 08px;
  }

  .txm-left {
    text-align:right!important;
  }
  .txm-right {
    text-align:left!important;
  }

  .wm-10, .wm-15, .wm-20, .wm-25, .wm-30, .wm-35, .wm-40, .wm-45, .wm-50,
  .wm-55, .wm-60, .wm-65, .wm-70, .wm-75, .wm-80, .wm-85, .wm-90, .wm-95 {
    display:block!important;
    width:auto!important;
    width:100%!important;
  }

}

/* Fastyle CSS Tool - Public Domain Dedication. */
